body{
    font-family: Arial;
    background:#ffffff;
}

.container{
    width:350px;
    margin:100px auto;
    padding:25px 40px;
    border:2px solid #000000;
    border-radius:12px;
    background:white;
    position: relative;
}

h2{
    position: absolute;
    top: -35px;
    left: 40px;
    background: white ;
    padding:  5px;
    margin: -5;
   
    
}

label{
    display:block;
    margin-top:15px;
    
}

input{
    width:100%;
    padding:8px;
    margin-top:3px;
    border:2px solid #8f8f8f;
    border-radius:5px;
}